footer{
    margin-top: 50px;


    .newsletter{
        background-color: $platinum;
        text-align: center;
        padding: 10px;
    }

    .sub{
        
        &__button{
            background-color: $orange;
            color: white;
            border: 0;
            padding: 5px;
        }
        &__input{
            border: 0;
            padding: 5px;
        }
    }


    .copyright{
        text-align: center;
        color: $blue;
    }

}