.newslist{
        width: 100%;
    @include large{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 50px;
        width: auto;
    }


&__item{
    p{
        margin:10px;
        margin-top: 20px;
        @include large{
        margin:0;
        margin-top: 20px;
        }
    }

    img{
        width:100%;
        height: 200px;

        @include large{
            width: 100%;
            height: auto;
        }
    }
}

}